/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.3em;
  margin: 5%;
}

article {
}

h1 {
  font-size: 1.5em;
}

h2 {
}

img {
  max-width: 100%;
  margin-top: 10%;
}

main {
}

section {
}

figure {
  margin: 0;
}

figcaption {
  font-size: 0.8em;
}

@media screen and (max-width: 800px) {
  body {
    background-color: rgb(185, 204, 255);
    font-size: 1em;
    margin: 3%;
  }
  h2 {
    margin-bottom: -3%;
  }

  section {
    display: flex;

    justify-content: center;
    flex-wrap: wrap;
  }

  figure {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  body {
    background-color: rgb(254, 255, 185);
    font-size: 1.3em;
    margin: 2%;
    max-width: 90%;
  }
  h2 {
    margin-bottom: -3%;
  }

  figure {
    margin-top: 5%;
  }

  figure > :first-child {
    margin-top: auto;
  }
}
