.super-mario {
    width: 200px;
    top: 130px;
    left: 100px;
    position: absolute;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    top: 400px;
    left: 200px;
    position: absolute;
    z-index: 2;
  }
  
  .baloon {
    position: absolute;
    top: 150px;
    left: 300px;
    z-index: 4;
  }
  
  .speach {
    font-size: 25px;
    top: 190px;
    left: 320px;
    position: absolute;
    z-index: 5;
  }
  
  .bowser {
    width: 200px;
    top: 350px;
    left: 550px;
    position: absolute;
    z-index: 3;
  }

/* 1 - Posicione o Mário acima do Goomba.
2 - Posicione a tag p para que fique dentro do balão de fala.
3 - Posicione o balão para que se torne uma fala de Bowser. */
